:root{
    --width-aside: 16%;
    --color-bg-dark: rgb(38, 38, 49);
    --color-text-light: rgb(185, 185, 185);
    --color-text-dark: rgb(68, 68, 68);
    --color-bg-dark-blue: rgb(27, 23, 43);
}

*{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--color-text-light);
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(202, 204, 224);
    background-repeat: no-repeat;
    background-size: cover;
    
}
li{
    list-style: none;
}
wbr::before{
    content: "-";
}

h2{
    font-size: 2.8rem;
    padding: 1rem 0;
    color: var(--color-text-dark);
}

aside{
    width: var(--width-aside);
    background-color: var(--color-bg-dark);
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: auto;

    h1{
        padding: 1.3rem;
        font-size: 2.7rem;
        color: white;
        
    }
    nav{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul{
            padding: 1.3rem;
            li{
                font-size: 1.3rem;
                padding: .3rem;
                a{
                    transition: border ease-in-out 1s;
                    position: relative;
                }
                a:hover{
                    margin-left: 3px;
                }
                a::before {
                    content: '';
                    position: absolute;
                    background: rgb(158, 205, 223);
                    height: 2px;
                    top: 100%;
                    left: 0;
                    width: 0%;
                    transition: width 0.3s ease;
                  }
                  a:hover::before {
                    width: 100%;
                  }
            }
        }
        .hamburger-icon{
            display: none;
        }
    }
    
}
.main-content{
    width: calc(100% - var(--width-aside));
    align-self: flex-end;
    header{
        padding: .5rem 2rem;
        height: 200px;
        margin: 1.5rem;
        background-color: rgba(255, 255, 255, 0.7);
        border: 3px solid rgba(241, 241, 241, .6);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        .first-row{
            display: flex;
            height: 50%;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            .search{
                width: 60%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                .search-bar{
                    background-color: lightgray;
                    width: 90%;
                    height: 50px;
                    border-radius: 100px;
                    input{
                        width: 100%;
                        margin: 0 12px;
                        height: 100%;
                        font-size: 1.3rem;
                        color: var(--color-text-dark);
                        background-color: transparent;
                        border: none;
                        outline: none;
                    }
                }
                img{
                    width: 10%;
                    color: black;
                    width: 48px;
                    height: auto;
                }
                
            }

            .profile{
                display: flex;
                
                justify-content: flex-end;
                align-items: center;
                gap: 20px;
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height:100%;
                }
                .pfp img{
                    width: 64px;
                    height: 64px;
                    border-radius: 100px;
                }
                div.name{
                    width: 40%;
                    p{
                        font-size: 1.8rem;
                        font-weight: 700;
                        color: var(--color-text-dark);
                    }
                }
                .bell img{
                    width: 48px;
                    height: auto;
                }
            }
        }
        .second-row{
            height: 50%;
            display: flex;
            gap: 20px;

            .left{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 40px;
                width: 60%;
                h2{
                    padding: 0;
                    font-size: 2.1rem;
                    span{
                        font-size: 1.6rem;
                        font-weight: 300;
                    }
                }
                p{
                    font-size: 1.3rem;
                }
                .pfp img{
                    width: 96px;
                    height: 96px;
                    border-radius: 100px;
                }
            }
            .right{
                width: 40%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 40px;

                div{
                border-radius: 12px;
                padding: 8px 16px;
                cursor: pointer;
                transition: ease-out .1s;
                    background-color: var(--color-bg-dark);
                    button{
                        width: 100%;
                        height: 100%;
                        border: none;
                        background-color: transparent;
                        font-size: 1.4rem;
                        font-weight: 500;
                    }

                    

                }
                div:active {
                    transform: scale(0.9);
                }

            }
        }
        
    }

    main{
        display: flex;
        justify-content: space-around;
        
        .projects{
            width: 70%;
            height: auto;
            display: flex;
            flex-direction: column;

            h2{
                text-transform: uppercase;
                letter-spacing: .2rem;
                font-size: 4rem;
            }
        
            .grid {
                width: clamp(200px,60vw ,1200px);
                height: clamp(200px,60vw ,1200px);
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 48px;
                grid-row-gap: 48px;
                }

                .grid-element{
                    display: inline-block;
                    background-color: var(--color-bg-dark-blue);
                    border-radius: 16px;
                    transition: ease-in-out .2s;
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                }

                .grid-element:hover{
                    scale: 1.03;
                }
                
                .div1 {grid-area: 1 / 1 / 3 / 3; }
                .div2 { grid-area: 3 / 1 / 4 / 2; }
                .div3 { grid-area: 2 / 3 / 2 / 4; }
                .div4 { grid-area: 1 / 3 / 2 / 4; }
                .div5 { grid-area: 3 / 2 / 4 / 4; }
        }
        .side-content{
            width: 20%;
            .announcements, .who-to-follow{
                h2{
                    font-size: 1.8rem;
                }
                
                .container{
                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 1rem;
                    gap: 1rem;
                    background-color: rgba(25, 25, 39, 0.2);
                    border-radius: 16px;
                    box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
                    

                    .more{
                        cursor: pointer;
                        color: var(--color-text-dark);
                        .dropdown-arrow{
                            position: relative;
                            top: 6px;
                            fill: var(--color-text-dark);
                        }
                    }
                    
                    .card{
                        height: 60px;
                        width: 100%;
                        border-radius: 12px;
                        background-color: rgb(255, 255, 255);
                        padding: .3rem .4rem;
                        cursor: pointer;
                        transition: ease-in .2s;
                        
                        h3{
                            width: 100%;
                            font-size: 1.2rem;
                            text-overflow: ellipsis;
                            color: var(--color-text-dark);
                            padding-bottom: .1rem;
                        }
                        p{
                            width: 100%;
                            font-size: 1rem;
                            color: var(--color-text-dark);
                            white-space: nowrap; 
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .card:hover{
                        transform: scale(1.02);
                    }
                    .more{
                        font-size: 1.2rem;
                        font-weight: 600;
                    }

                    .user{
                        display: flex;
                        align-items: center;

                        .left{
                            width: 70%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: .3rem;
                            flex-shrink: 1;
                            
                            
                            
                            img{
                                width: 48px;
                                height: 48px;
                                border-radius: 50px;
                            }
                            .names{
                                
                                display: flex;
                                flex-direction: column;
                                width: 80%;
                                

                                .display-name{
                                    
                                    padding: 0;
                                    font-size: 1rem;
                                    white-space: nowrap; 
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    
                                }
                                .user-name{
                                    font-size: .8rem;
                                    white-space: nowrap; 
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .user-name::before{
                                    content: "@";
                                }
                            }
                        }

                        .right{
                            width: 30%;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            button{
                                border: none;
                                background-color: var(--color-bg-dark);
                                padding: 8px 12px;
                                border-radius: 20px;
                            }
                        }
                    }
                }

                
            }

        }
    }
}

@media screen and (max-width: 1400px) {
    .side-content{
        display: none;
    }
    .main-content{
        main{
            justify-content: flex-end;
            .projects{
                width: 100%;
                padding: 0 2rem;
                .grid{
                    width: clamp(200px,80vw ,100%);
                    height: clamp(200px,80vw ,1200px);
                }
                
            }
        }
    }
    
  }

@media screen and (max-width: 1220px) {
    aside{
        width: 100%;
        height: 65px;
        flex-direction: row;
        justify-content: space-between;

        h1{
            padding: .3rem 1rem;
            font-size: 2.3rem;
        }
        nav{
            flex-direction: row;
            padding-right: 1rem;
            ul{
                display: none;   
            }
            .settings-buttons{
                display: none;
            }

            .hamburger-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 20px;
            }
        }
    }

    .main-content{
        width: 100%;
        header{
            margin-top: 6rem;
        }
        main{
            .projects{
                .grid{
                    width: clamp(200px,100vw ,100%);
                    height: clamp(200px,100vw ,1200px);
                }
            }
        }
    }


}

@media screen and (max-width: 972px){
    .main-content>header{
        .first-row{
            .search{
                width: 80%;
            }
            .profile{
                .pfp>img{
                    width: 96px;
                    height: 96px;
                }
                .name{
                    display: none;
                }
            }
            
        }
        .second-row{
            .left{
                
                 display: none;
                
            }
            .right{
                width: 100%;
                justify-content: center;
            }
        }
    }

}
@media screen and (max-width: 822px){
    .main-content>main{
        .projects{
            .grid {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 12px;
                grid-row-gap: 12px;
                width: clamp(200px,100vw ,100%);
                height: clamp(200px,150vw ,1200px);

                .grid-element{
                    display: inline-block;
                    background-color: var(--color-bg-dark-blue);
                    border-radius: 16px;
                }
                
                .div1 {grid-area: 1 / 1 / 3 / 3; }
                .div2 { grid-area: 3 / 1 / 4 / 2; }
                .div3 { grid-area: 3 / 2 / 4 / 3; }
                .div4 { grid-area: 4 / 1 / 5 / 2; }
                .div5 { grid-area: 4 / 2 / 4 / 3; }
            }
        }
    }
}


@media screen and (max-width: 620px){
    .main-content>header{
        .first-row{
            .search{
                width: 80%;
            }
            .profile{
                .pfp>img{
                    width: 64px;
                    height: 64px;
                }
            }
        }
    }

    .bell img{
        display: none;
    } 
}

@media screen and (max-width: 470px){
    div.profile{display: none;}
    .main-content{
        main>.projects{
            padding: 0 .3rem;
        }
        header{
            padding: .5rem .2rem;

            .first-row{
                .profile{
                    display: none;
                }
                .search{
                    width: 100%;
                    img{
                        display: none;
                    }
                }
            }

            .second-row>.right{
                gap: 10px;
                .button{
                    padding: .3rem .6rem;
                    font-size: .5rem;
                }
            }
        }
    }
    
}